.row {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  
  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 50%;
    float: left;
  }
  
  #lezioni .row img {
    /* per centrare orizzontalmente */
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  #lezioni {
    text-align: center;
  }
  
  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 33%;
  }
  
  #steps {
    text-align: center;
  }
  
  /* BLOCCO PERCHE */
  #why {
    text-align: center;
  }
  
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    margin-top: 80px;
  }
  
  #why .row img {
    background-color: #428bca;
    border-radius: 50%;
    padding: 30px
  }
  
  /* COMMON */
  .row::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .container.grey {
    background-color: #f9f9f9;
  }
  
  img {
    height: 200px;
  }
  
  .clear {
    clear: both;
  }
  


  @media  screen and (min-width:420px) and (max-width:800px) {

    body{
        font-family: 'Roboto', sans-serif;
    }

    img{height: 120px;}

        
    *{box-sizing: border-box;
    margin: 0;}
    

    .row{width: 100%;
        margin-top: 0;}

    #steps,
    #lezioni,  
    #why.container.grey{
        padding: 2rem;

    }

    .row h1{
        font-size: 2.5rem;
        margin-bottom:4rem;
    }

    .row h3{
        margin: .8rem 0;
    }



    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right,
    #why .row>.first,
    #why .row>.second,
    #why .row>.third
     {
      float: left;
      width: 30%;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third{
        margin: 0;
    }


    #why hr {
        display: none;
    }

    #steps .row>.central,
    #why .row>.second{
        margin: 0 5%;
    }






    
}


  @media screen and (max-width:420px) 
  { 
      
        img{height: 150px;}

        
        *{box-sizing: border-box;
        margin: 0;}
        
            
        .row{width: 100%;
            margin-top: 0;}


        .row h1{
            font-size: 2rem;
            margin:0;
        }

        .row h3{
            font-size: 1rem;
            margin-bottom: 0;
        }




        #lezioni .row>.left,
        #lezioni .row>.right {
        width: 100%;
        float: none;
        }

 
        #lezioni,  #why.container.grey{
        background-color: #f2f2cd;
        padding: 1rem;
        }

        #lezioni,  
        #why.container.grey{
            background-color: #f2f2cd;
            }

        #steps,
        #lezioni,  
        #why.container.grey{
            padding: 1rem;


        }
    


        #lezioni .row, 
        #steps .row, #why .row{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: .7rem;
            }


      
      

        #lezioni .row>.left,
        #lezioni .row>.right {
            width: 100%;
            margin-top:20px; }


        #steps.container.grey {
            background-color: white;
          }

        #steps .row, #why .row{
            margin-top: 1rem;

        }

        #steps .row>.left,
        #steps .row>.central,
        #steps .row>.right {
        float: none;
        width: 100%;
        margin-top: 2rem;
        }


      
        #why .row>.first,
        #why .row>.second,
        #why .row>.third {
            
            margin-top: 2rem;
        }

        


  }


  